#amf-brookgate-lanes h2 img {
  height: 125px;
}

#fairview-lanes h2 img {
  width: 350px;
}

#madison-square-lanes h2 img {
  width: 225px;
}

#mahalls h2 img {
  width: 200px;
}

#rollhouse-north-olmsted h2 img {
  background-color: #000000;
  width: 250px;
}

.quarto-layout-panel .quarto-layout-row .quarto-layout-cell {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.tour-location-image {
  background-size: cover;
  height: 300px;
}
